html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #ebebeb;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

#app {
    position: relative;
}

::placeholder {
    color: #ccc;
    font-size: 15px;
}


.header {
    display: flex;
    align-items: center;
    // justify-content: center;
    background: #000;
    color: #fff;
    z-index: 2;
    position: relative;
    margin-bottom: 0px;
    padding-left: 20px;
    & p {
        font-size:25px;
        margin:25px;
    }
    & img {
        margin-left:25px;
        height:50px;
    }
}

.title-input {
    padding: 10px;
    border: none;
    outline: none;
}

.title-input::placeholder {
    font-size: 18px;
}


.add-btn {
    padding: 5px 10px;
    margin: 20px;
    border: none;
    color: #000;
    outline: none;
    font-size: 10px;
    cursor: pointer;
}   

.note-editor {    
    display: flex;
    flex-direction: column;

    textarea {
        padding: 10px;
        resize: none;
        border: none;
        &:hover {
            outline: 0;
        }
        &:focus {
            outline: 0;
        }
    }
}

.note-grid {
    position: absolute;
    left: 150px;
    right: 150px;
    top: 80px;
    background: #fff;
    padding: 16px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    border-radius: 3px;
}

.note-title {
    margin-right: 15px;
    outline: none;
}

.noteContainer {
    position: relative;
    column-count: 4;
    column-gap: 1em;
    padding: 50px 25px;
    box-sizing: border-box;
}

.note {
    position: relative;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,90,250,0.05),
      0 4px 4px rgba(0,90,250,0.05),
      0 8px 8px rgba(0,90,250,0.05),
      0 16px 16px rgba(0,90,250,0.05);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    background: #fff;
    padding: 25px;
    word-break: break-word;
    cursor: pointer;
    grid-row-end: span 1;

    /* animation */
    transition: transform 0.6s ease-in-out;
    &.delete-ani {
        transform: scale(1);
        &.animation{
            transform: scale(0);
        }
    }
    &.create-ani {
        transform: scale(0);
        &.animation{
            transform: scale(1);
        }
    }
    /* animation end */
}

.note-editor-bottom {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-wrap: wrap;
}
.note-editor-date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.note-editor-registdate {
    margin-top: 0.7%;
    margin-bottom: 0.7%;
    border-radius: 3px;
    border: 1px solid rgb(203,213,224);
    padding: 1.5%;
    font-size: 16.5px;
}

.delete {
    position: absolute;
    right: 25px;
    top: 25px;
}

.modify {
    position: absolute;
    right: 50px;
    top: 25px;
}

.note-date {
    color: gray;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}

.calendar {
    display: inline-block;
    position: fixed;
    right: 3%;
    bottom: 5%;
}

.category-grid {
    max-width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 16px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    border-radius: 3px;
}

.category-list {
    overflow: auto;
    max-height: 200px;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,90,250,0.05),
      0 4px 4px rgba(0,90,250,0.05),
      0 8px 8px rgba(0,90,250,0.05),
      0 16px 16px rgba(0,90,250,0.05);
      margin-bottom: 10px;
}

.sidebar {
    position: absolute;
    z-index: 1;
    width: 18%;
    background-color: whitesmoke;
    height: 100vh;
    top:0;
    left:0;
    margin-top: 80px;
    padding-top: 50px;
    display: inline-block;
}

.sidebar .menu {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;

    &:hover {
        background-color: #4CAF50
    }
}

.sidebar p {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}
.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

.dim{
    opacity: 0.7;
    background: #000;
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}